.hug {
  animation: flying 2s ease-in-out infinite;
}

.yolo {
  animation: flying2 2s ease-in-out infinite;
}

@keyframes flying {
  0%,
  100% {
    bottom: 0%;
  }

  50% {
    bottom: -2%;
    // left: 2%;
  }
}

@keyframes flying2 {
  0%,
  100% {
    top: 0%;
  }

  50% {
    top: -15%;
  }
}
