@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir";
  src: url("../assets/font/Avenir/Avenir-Regular.eot") format("eot"),
    url("../assets/font/Avenir/Avenir-Regular.woff") format("woff"),
    url("../assets/font/Avenir/Avenir-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  font-weight: bold;
  src: url("../assets/font/Avenir/Avenir-Regular.eot") format("eot"),
    url("../assets/font/Avenir/Avenir-Bold.woff") format("woff"),
    url("../assets/font/Avenir/Avenir-Bold.ttf") format("truetype");
}

body,
.avenir {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

body {
  background-color: #f9fcfe;
}
